{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class=" pull-left">
            <div class="page-title">{{ substance.name }}</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'main_page' %}">Главная</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li class="active">{{ substance.name }}</li>
        </ol>
    </div>
</div>
<!-- start widget -->
<div class="state-overview">
		<div class="row">
	        <div class="col-xl-6 col-md-6 col-12">
	          <div class="info-box bg-b-green">
	            <span class="info-box-icon push-bottom"><i class="material-icons">cloud_queue</i></span>
	            <div class="info-box-content">
	              <span class="info-box-text">Доля компонента в воздухе</span>
	              <span class="info-box-number">Объемная</span>
	              <div class="progress">
	                <div class="progress-bar" style="width: 78%"></div>
	              </div>
	              <span class="progress-description">
	                    78,09%
	                  </span>
	            </div>
	            <!-- /.info-box-content -->
	          </div>
	          <!-- /.info-box -->
	        </div>
	        <!-- /.col -->
	        <div class="col-xl-6 col-md-6 col-12">
	          <div class="info-box bg-b-yellow">
	            <span class="info-box-icon push-bottom"><i class="material-icons">cloud</i></span>
	            <div class="info-box-content">
	              <span class="info-box-text">Доля компонента в воздухе</span>
	              <span class="info-box-number">Массовая</span>
	              <div class="progress">
	                <div class="progress-bar" style="width: 75%"></div>
	              </div>
	              <span class="progress-description">
	                    75,52%
	                  </span>
	            </div>
	            <!-- /.info-box-content -->
	          </div>
	          <!-- /.info-box -->
	        </div>
	        <!-- /.col -->
	        <!-- <div class="col-xl-6 col-md-6 col-12">
	          <div class="info-box bg-b-blue">
	            <span class="info-box-icon push-bottom"><i class="material-icons">school</i></span>
	            <div class="info-box-content">
	              <span class="info-box-text">Total Course</span>
	              <span class="info-box-number">52</span>
	              <div class="progress">
	                <div class="progress-bar" style="width: 85%"></div>
	              </div>
	              <span class="progress-description">
	                    85% Increase in 28 Days
	                  </span>
	            </div>
	          </div>
	        </div> -->
	        <!-- /.col -->
	        <!-- <div class="col-xl-6 col-md-6 col-12">
	          <div class="info-box bg-b-pink">
	            <span class="info-box-icon push-bottom"><i class="material-icons">monetization_on</i></span>
	            <div class="info-box-content">
	              <span class="info-box-text">Fees Collection</span>
	              <span class="info-box-number">13,921</span><span>$</span>
	              <div class="progress">
	                <div class="progress-bar" style="width: 50%"></div>
	              </div>
	              <span class="progress-description">
	                    50% Increase in 28 Days
	                  </span>
	            </div>
	          </div>
	        </div> -->
	        <!-- /.col -->
	      </div>
	</div>
<!-- end widget -->
 <!-- chart start -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card  card-box">
            <div class="card-head">
                <header>Влагосодержание</header>
                <!-- <div class="tools">
                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div> -->
            </div>
            <div class="card-body ">
              <div class="table-wrap">
					<div class="table-responsive">
						<table class="table display product-overview mb-30" id="support_table">
							<thead>
								<tr class="text-right">
									Равновесная концентрация влаги x⋅10^4, мол. доли
								</tr>
							</thead>
							<thead>
								<tr>
									<th>Температура</th>
									<th>1.0</th>
									<th>2.0</th>
									<th>4.0</th>
									<th>6.0</th>
									<th>8.0</th>
									<th>10.0</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>233</td>
									<td>0.170</td>
									<td>0.096</td>
									<td>0.096</td>
									<td>
										0.096
									</td>
									<td>0.096</td>
									<td>0.096</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>	
            </div>
        </div>
    </div>
</div>
 <!-- Chart end -->
 {% include 't-prop/tppsprs_table.html' %}

{% include 't-prop/plsbl_t_table.html' %}

{% include 't-prop/pvscl_t_table.html' %}

{% include 't-prop/plsbl_p_table.html' %}

{% include 't-prop/pvscl_p_table.html' %}

{% endblock %}