{% extends 'base/base.html' %}

{% load static %}

{% block content %}
<!-- start new student list -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card  card-box">
            <div class="card-head">
                <header>Добро пожаловать в Kriag</header>
                <div class="tools">
                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body ">
              <div class="row">
                <div class="col-sm-12 col-md-3">
                    <img class="img-responsive m-t-20" src="http://www.ifmo.ru/file/news/4246/itmo_small_white_rus.jpg">
                </div>
                <div class="col-sm-12 col-md-9">
                    <h3>Программный комплекс по расчету теплофизических свойств криопродуктов, разработанный на <a href="http://www.ifmo.ru/ru/viewdepartment/93/kafedra_kriogennoy_tehniki_i_tehnologiy_szhizhennogo_prirodnogo_gaza.htm">Кафедре криогенной техники и технологий сжиженного природного газа</a> в <a href="http://www.ifmo.ru/ru/">Университете ИТМО</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 col-12 col-sm-6"> 
        <div class="blogThumb">
            <div class="white-box">
                <div class="text-muted"><span class="m-r-10"></span> 
                    <a class="text-muted m-l-10" href="#"></a>
                </div>
                <h3 class="m-t-20 m-b-20">Азот</h3>
                <p>
                    элемент 15-й группы второго периода периодической системы химических элементов Д. И. Менделеева, с атомным номером 7. Относится к пниктогенам. Обозначается символом N. 
                </p>
                <a href="{% url 'dashboard_substance' substance_id=1 %}" class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Подробнее</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12 col-sm-6"> 
        <div class="blogThumb">
            <div class="white-box">
                <div class="text-muted"><span class="m-r-10"></span> 
                    <a class="text-muted m-l-10" href="#"></a>
                </div>
                <h3 class="m-t-20 m-b-20">Кислород</h3>
                <p>
                    элемент 16-й группы, второго периода периодической системы химических элементов Д. И. Менделеева, с атомным номером 8. Кислород — химически активный неметалл, является самым лёгким элементом из группы халькогенов. 
                </p>
                <a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default" disabled="" data-upgraded=",MaterialButton,MaterialRipple">В разработке<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12 col-sm-6"> 
        <div class="blogThumb">
            <div class="white-box">
                <div class="text-muted"><span class="m-r-10"></span> 
                    <a class="text-muted m-l-10" href="#"></a>
                </div>
                <h3 class="m-t-20 m-b-20">Водород</h3>
                <p>
                    первый элемент периодической системы элементов; обозначается символом H. Название представляет собой кальку с латинского: лат. hydrogenium — «порождающий воду».
                </p>
                <a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default" disabled="" data-upgraded=",MaterialButton,MaterialRipple">В разработке<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}